// Flat Ui Colors
$yellow: #f1c40f;
$green: #2ecc71;
$blue: #3498db;
$gray: #7f8c8d;
$light-gray: #ecf0f1;
$black: #191919;
$purple: #8e44ad;
$red: #c0392b;
$orange: #e67e22;

// Border 
$border-xs: 1.5px solid black;
$border-sm: 2.5px solid black;
$border-md: 4.5px solid black;
$border-lg: 6.5px solid black;

