// Flat Ui Colors
$yellow: #f1c40f;
$green: #2ecc71;
$blue: #3498db;
$dark-blue: #001f3f;
$gray: #7f8c8d;
$light-gray: #ecf0f1;
$black: #191919;
$purple: #8e44ad;
$red: #c0392b;
$orange: #e67e22;

// Fonts 
$font-heading: 'Playfair Display', serif;
$font-body: 'Source Sans Pro', sans-serif;